@tailwind base;
@tailwind components;
@tailwind utilities;

#navbarContainer{
    display: flex;
    position: fixed;
    margin-inline: auto;
    max-width: 1280px;
    align-items: center;
    
    justify-items: center;
    background-color: black;
    padding-block: 1rem;
}
#logoName{
    display: flex;
    color: white;
    font-size: 2rem;
    font-weight: 800;
}
#navBarOptions{
    outline: yellow solid 2px;
    & ul {
        display: flex;
        color: white;
        gap: 10px;
        outline: red solid 2px;
    }
}