@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  --main-purple-color: #c10ace; 
  --container-size: 80rem; /*This is 1280px */
}
#contentWrapper {
  @apply flex relative flex-col max-w-[var(--container-size)] pt-32;
  margin-inline: auto;
  padding-inline: 4rem;
  /*height: 1400px; This is for testing purposes, and should be removed later*/
}
#contentWrapper:has(.bmiColumn) {
  @apply flex-row gap-[50px];
  align-items: unset;
}
#contentWrapper:has(.tableContainer) {
  @apply gap-[50px];
}
#contentWrapper:has(form) {
  @apply items-center;
}
/* #contentWrapper:has(.) */
.bmiColumn {
  @apply flex flex-col max-w-[35rem] gap-5 last-of-type:min-h-full last-of-type:overflow-x-clip;
  padding-inline: 10px;
}
.bmiColumn p {
  @apply mb-5;
}
/* This selects only the second child within the bmiColumn to target the div elements in it*/
/* add bottom margin of 10 px to divs except the last one */
.bmiColumn > :nth-child(2) div:not(:last-child) {
  @apply mb-2.5;
}
h1 {
  @apply text-[1.2rem] font-[bolder];
}
.activeNavbarElement {
  @apply text-[color:var(--main-purple-color)];
}
input[type="number"]::-webkit-inner-button {
  @apply hidden;
}
#navbarContainer {
  @apply grid fixed w-full grid-cols-[repeat(3,1fr)] h-max bg-[black] z-[100];
  grid-template-areas: "left-area middle-area right-area";
  padding-block: 2rem;
}
@keyframes expandAnim {
  from {
    @apply opacity-0;
    translate: 0 100px;
  }
  to {
    @apply opacity-[100];
    translate: 0 13%;
  }
}
.healthOptionActive {
  @apply bg-[color:var(--main-purple-color)] text-[white];
  translate: 10px 0;
}
.healthOptionsContainer {
  @apply flex flex-col absolute bg-[black];
  animation-name: expandAnim;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.healthOptionsContainer > * {
  @apply text-[white] transition-[translate] duration-[0.3s] p-5;
}
.healthOptionsContainer > *:hover,
.healthOptionsContainer > *:focus {
  @apply bg-[color:var(--main-purple-color)] text-[white];
  translate: 10px 0;
}
#logoName {
  @apply flex text-[white] text-[2rem] font-extrabold ml-4;
}
#logoName,
#navBarOptions > * {
  text-wrap: nowrap;
}
#navBarOptions {
  @apply flex items-center justify-center;
  /* outline: yellow solid 2px; */
  grid-area: right-area;
}
#navBarOptions ul {
  @apply flex text-[white] gap-[18px] font-extrabold;
}
#navBarOptions ul > li:hover,
#navBarOptions ul:focus {
  @apply text-[color:var(--main-purple-color)] cursor-pointer;
}
@keyframes slideInFromLeft {
  from {
    translate: -100% 0;
  }
  to {
    translate: 0 0;
  }
}
/*BMI CALCULATOR START*/
#bmiCalculator {
  @apply flex flex-col sticky justify-items-center ml-2.5 top-[20%];
  animation-name: slideInFromLeft;
  animation-duration: 0.4s;
  /* outline: red solid 2px; */
  /* max-width: fit-content; */
}
#bmiCalculator h1 {
  @apply text-[color:var(--main-purple-color)] text-center mb-2.5;
}
.inputComponent {
  @apply flex flex-col text-[color:var(--main-purple-color)] max-w-[250px] mb-5;
}
.inputComponent label {
  @apply font-bold;
}
.inputComponent input {
  @apply text-[color:var(--main-purple-color)] font-semibold border-[length:var(--main-purple-color)] pl-[15px] rounded-xl border-solid border-[2px];
  padding-block: 5px;
}
span {
  @apply text-[color:var(--main-purple-color)];
}
#mealPlansContainer {
  @apply grid grid-cols-[repeat(2,1fr)] gap-[30px];
}
@media (width <= 40rem) {
  #mealPlansContainer {
    @apply grid-cols-[1fr];
  }
}
.planForGender {
  @apply text-[2rem] font-black mb-5;
}
.planMealBlock {
  @apply mb-5;
}
.personDetails {
  @apply font-bold mb-5;
}
.mealsContainer {
  @apply pl-[30px];
}
.mealsContainer li {
  list-style: disc;
}
.mealsContainer li:not(:last-child) {
  @apply mb-1.5;
}
#submitButton {
  @apply bg-[color:var(--main-purple-color)] font-black text-[white] transition-all duration-[0.2s] ease-[ease] px-10 py-5 rounded-[40px] hover:bg-[#350ace] hover:cursor-pointer;
}
.submitButton {
  @apply bg-[color:var(--main-purple-color)] font-black text-[white] transition-all duration-[0.2s] ease-[ease] px-10 py-5 rounded-[40px] hover:bg-[#350ace] hover:cursor-pointer;
}
#heightPart span {
  @apply text-[color:var(--main-purple-color)] font-bold;
}
#heightCombo {
  @apply flex flex-col gap-2.5 w-fit ml-5;
  /* max-width: 2rem; */
  /* & input {
    max-width: 100px;
  } */
}
#heightCombo input {
  @apply w-[120px];
}

/* BMI CALCULATOR END */

/* Submit Form Button Styling */
.submitFormButton {
  @apply bg-[color:var(--main-purple-color)] font-black text-[white] transition-all duration-[0.2s] ease-[ease] p-5 rounded-[40px] hover:bg-[#350ace] hover:cursor-pointer;
}
#yourBMIText {
  @apply flex text-[1.2rem] font-extrabold mt-2.5;
  margin-inline: auto;
}
.infoBlock {
  @apply flex relative flex-col;
}
.infoBlock p {
  @apply max-w-screen-sm;
}
/* Input element placeholder text styling */
::placeholder {
  @apply text-[#c10ace];
}
::-webkit-input-placeholder {
  @apply text-[#c10ace];
  /* Chrome, Safari, Opera */
}
:-ms-input-placeholder {
  @apply text-[#c10ace];
  /* Internet Explorer 10-11 */
}
::-ms-input-placeholder {
  @apply text-[#c10ace];
  /* Microsoft Edge */
}
/* Glossary Page CSS */
.pageHeader {
  @apply flex text-5xl font-extrabold mb-10;
}
#glossaryDefinitionsContainer {
  @apply grid grid-cols-[repeat(3,1fr)] gap-[30px] justify-center mb-[50px];
}
@media (width <= 45rem) {
  #glossaryDefinitionsContainer {
    @apply grid-cols-[1fr];
  }
}
.definitionSection {
  @apply flex flex-col p-5 rounded-[10px];
  outline: 2px black solid;
}
.definitionSection > div:first-of-type {
  @apply text-[2rem] font-[bolder] mb-2.5;
}
.definitionContainer > div:first-of-type {
  @apply font-[bolder];
}
.definitionContainer {
  @apply mb-2.5;
}
.registerButton {
  @apply bg-[black] text-[white] text-[2rem] font-bold max-w-max transition-[width] duration-[0.2s] ease-[ease] rounded-lg;
  padding-inline: 10px;
  padding-block: 5px;
}
.registerButton > div {
  @apply flex items-center gap-2.5;
}
.registerButton > div div {
  @apply transition-[color] duration-[0.1s] ease-[ease];
}
.registerButton:hover > div > div {
  @apply text-[color:var(--main-purple-color)];
}
.registerButton .svgArmContainer > svg {
  @apply w-[50px];
}
.muscleSvg path {
  @apply opacity-0 transition-all duration-[0.2s] ease-[ease] hover:opacity-80 hover:fill-[aqua] hover:cursor-pointer;
}
#backGroup {
  @apply absolute;
  translate: 10.3% 11%;
}
#frontGroup {
  translate: 18% 15%;
}
#parentDiagramContainer {
  @apply flex relative flex-col w-[294px] h-[695px] mb-[100px];
  margin-inline: auto;
  /* scale: 1.2; */
  perspective: 1100px;
}
#parentDiagramContainer img {
  @apply object-cover;
}
#parentDiagramContainer #rotateButton {
  @apply text-[white] max-w-max self-center transition-all duration-[0.2s] ease-[ease] font-bold mb-2.5 rounded-2xl;
  padding-inline: 16px;
  padding-block: 8px;
  background: black;
}
#parentDiagramContainer #rotateButton:hover {
  background: var(--main-purple-color);
}
#backDiagram {
  transform: rotateY(180deg);
}
#innerDiagramContainer {
  @apply h-[695px] relative transition-transform duration-[0.6s] ease-[ease];
  /* display: flex; */
  transition: transform 0.6s ease;
  animation-name: slideInFromLeft;
  transform-style: preserve-3d;
}
#innerDiagramContainer svg {
  @apply absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#frontDiagram,
#backDiagram {
  @apply absolute;
  /* display: flex; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.pageMainTitle {
  @apply flex text-5xl max-w-[50%] font-extrabold text-[color:var(--main-purple-color)] text-center mb-5;
  margin-inline: auto;
}
.visible {
  @apply opacity-100;
  transform: unset;
}
section {
  @apply flex opacity-0 translate-y-[200px] first-of-type:flex-col first-of-type:gap-5 first-of-type:max-w-[30rem] first-of-type:mb-[200px];
  transition: opacity 0.5s ease-out, transform 0.5s ease;
}
section .registerButton div {
  @apply m-0;
}
section:first-of-type {
  /* align-items: center; */
  /* margin-top: 150px; */
}
section:not(:first-of-type) {
  @apply items-center justify-between mb-[200px];
  /* gap: 20px; */
}
section:not(:first-of-type) p {
  @apply max-w-[30rem];
}
section :nth-of-type(2) {
  @apply mt-[50px];
}
section:nth-child(2n) {
  @apply flex-row-reverse;
}
#homeBottomLetsGetStarted {
  @apply flex flex-col items-center max-w-[30rem] gap-[30px] text-center;
  margin-inline: auto;
  /* font-weight: 800; */
}
#homeBottomLetsGetStarted p:last-of-type {
  @apply mt-0;
}
.tableContainer {
  @apply grid grid-cols-[repeat(6,1fr)] p-2.5 rounded-lg;
  outline: 2px black solid;
  margin-bottom: 10px;
}
.firstColumnTable {
  @apply flex flex-col items-center;
  /* min-width: 100%; */
}
.firstColumnTable > div:first-of-type,
.firstColumnTable > div:nth-of-type(2n) {
  @apply font-extrabold;
}
.firstColumnTable input {
  @apply text-center;
  outline: 1px solid;
}
.doubleTitleCell {
  @apply flex gap-[5px];
  /* justify-content: flex-start; */
  outline: 1px solid;
}
.doubleTitleCell > div {
  @apply flex;
  margin-inline: auto;
}
.editableCellContainer {
  @apply flex w-full;
}
.editableCellContainer > div {
  @apply flex;
  margin-inline: auto;
}
.editableCellContainer .editableCells {
  @apply w-full;
  /* box-sizing: border-box; */
  padding-inline: 10px;
  outline: black 1px solid;
  /* text-align: center; */
}

/* .editableCells{
  flex-grow: 1;
} */
.setTitle {
  @apply flex justify-center font-bold;
}
#registrationFormSetupContainer {
  @apply flex fixed items-center justify-center inset-0;
  background: white;
}
#registrationFormSetupContainer button {
  @apply absolute font-extrabold text-[white] rounded-[20px] right-5 top-[150px];
  background: var(--main-purple-color);
  padding-inline: 40px;
  padding-block: 10px;
}
#registrationFormSetupContainer button:hover {
  background: #350ace;
}
#textAreaContactUs {
  @apply max-w-full min-h-[150px] mt-5 p-[15px] rounded-[10px];
  outline: var(--main-purple-color) solid 2px;
}
li svg {
  @apply fill-[var(--main-purple-color)];
}
.setContainer {
  @apply max-w-[200px];
}

.videoContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  h1{
    font-size: 2rem;
    font-weight: 600;
  }
  div > p{
    margin-bottom: 6px;
  }
  div:has(iframe){
    display: contents;
  }
}
div > :has(form){
  form{
    animation-name: slideInFromLeft;
    animation-duration: 0.4s;
  }
}

#contactUsForm{
  display: flex;
  flex-direction: column;
  animation-name: slideInFromLeft;
  animation-duration: 0.4s;
  input[type="submit"]{
    margin-top: 20px;
  }
}